<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search</title>
    <script type="text/javascript" src="static/js/jquery-3.6.0.js"></script>
</head>
<body>
    <form method="get" action="/api/get_posts" >
        <input type="text" name="request" id="request" placeholder="Что вы ищете?">
        <button type="submit">Найти</button>
    </form>
    <div id="posts">

    </div>
    <script type="text/javascript">

        $(document).ready(
            $('form').submit(function(){
                $(#posts).load("/api/get_posts", $('form').serialize());
                });
            );
    </script>
</body>
</html>